.Modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.ModalContent {
  padding: 25px;
  background-color: aliceblue;
  border: 1px;
  min-width: 250px;
  border-radius: 15px;
}
