.Modal {
    position: fixed;
    left: 0;
    right: 0;    
    top: 0;
    bottom: 0;
    display: none;
}

.Modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContent {
    padding: 25px;
    background-color: aliceblue;
    border: 15px;
    min-height: 250px;
}