.commentsForm{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    
}
.commentsMap{
    display: flex; 
    justify-content: center;
}
.list {
    border: 1px solid black;
}