* {
    margin: 0;
    box-sizing: 0;
    text-align: center;
    width: 80%;
    background-color: aqua;
}

#root {
    display: flex;
    justify-content: center;
}
.form {
    color: red;
}

.text {
    color: red;
}